h3 {
    font-family: 'Ubuntu' !important;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
}
h2, h4, h5 {
    font-family: 'Ubuntu' !important;
    font-style: normal;
    font-weight: 400;
}



.mugshot {
    height:180px;
    border-radius:100px;
    box-shadow: 0px 5px 15px 0px gray;
}



.row {
    margin-top:30px;
}
.row > div {
    padding-top: 10px;
    padding-bottom: 20px;
}
.row {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}
.innerdiv {
    padding-bottom: 20px;
}
.title-row {
    margin-top: 100px;
}

.header-icon {
    height: 50px;
}





.recommendations {
    margin-top: 70px;
}
.recommendations h5 {
    text-align: right;
    color: #0288D1;
}
.recommendations div {
    border-bottom: 1px solid #B3E5FC;
}





.title-history {
    color: #388E3C;
}
.history > div {
    border-left: 1px solid #DCEDC8;
}
.history > div > h4 {
    color: #8BC34A;
}




.title-projects {
    color: #7B1FA2;
}
.projects h4 {
    color: #673AB7;
}
.projects .innerdiv {
    border-bottom: 1px solid #D1C4E9;
}





.title-skills {
     color: #FF9800;
}
.skills h4 {
    color: #F57C00;
}
.skills .innerdiv {
    border-bottom: 1px solid #FFE0B2;
}






.expandplus {
    border-radius: 4px;
    margin-left: 7px;
    padding: 0px 4px;
    box-shadow: 0px 3px 0px 1px #C8E6C9;
    color: #388E3C;
    cursor: pointer;
}

.expandplus:active {
    box-shadow: none;
}
