h1 {
	font-family: 'Lora', serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 50px -30px 25px 80px;
    display: inline-block;
    vertical-align: bottom;
    color: #D21835;
}

img.titlestroke {
	height:50px;
}

h2 {
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
}

p {
	font-family: 'Noto Serif', serif;
	line-height: 180%;
	font-size: 1.05rem;
}

small {
	color: #00796B;
	border: 1px solid #00796B;
	border-radius: 20px;
	padding: 5px 15px;
}



div.content.opinion {
	width: 800px;
    border: 1px dashed #0EBD94;
}

div.content.fact {
	width: 800px;
    border: 1px dashed #FF9900;	
}

@media screen and (min-width: 1800px) {
    div.container {
    	width: 75%;
		margin: 0 auto;
	}

	div.content.fact {
		width: 400px;
	    border: 1px dashed #FF9900;
	}
}


div.content {
	display: inline-block;
	vertical-align: top;
    margin: 30px 0 30px 30px;
    border-radius: 10px;
    padding: 5px 30px 10px 30px;
    text-align: justify;  
}


