.row-fluid {
	margin-bottom: 2%;
}

h1 {
	font-family: 'Lora', serif;
    font-weight: 700;
    margin: 50px -30px 25px 0px;
    display: inline-block;
    vertical-align: bottom;
    color: #D21835;
}

img.titlestroke {
	height:50px;
}

h2 {
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
}

p {
	font-family: 'Noto Serif', serif;
	line-height: 180%;
	font-size: 1.05rem;
	text-align: justify; 
	margin-top: 20px;
}

small {
	color: #00796B;
	border: 1px solid #00796B;
	border-radius: 20px;
	padding: 5px 15px;
}

div.content.opinion {
    border: 1px dashed #0EBD94;
}

div.content.fact {
    border: 1px dashed #FF9900;	
}

div.content {
	border-radius: 10px;
    padding: 5px 30px 10px 30px; 
    margin-bottom: 2%
}


